@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #17363f;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

.loading-message {
    color: #17363f;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

.auth-button {
    padding: 10px 20px;
    background-color: #17363f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-title {
    text-align: center;
}
.login-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.login-form {
    display: flex;
    justify-content: center;
    width: 50%;
}

.login-form input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}